<Files index.html>
AuthType Basic
AuthName “sample”
AuthUserFile /app/ps/1/.htpasswd
Require valid-user
</Files>

<Files index2.html>
AuthType Basic
AuthName “sample”
AuthUserFile /app/ps/2/.htpasswd
Require valid-user
</Files>

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
