
<Files temple.html>
AuthUserFile /app/ps/temple/.htpasswd
AuthGroupFile /dev/null
AuthName "temple"
AuthType Basic
require valid-user
<FilesMatch logout*>
Header unset Authorization
</FilesMatch>
</Files>
