ErrorDocument 400 https://scythe-hp.herokuapp.com/login.html
ErrorDocument 401 https://scythe-hp.herokuapp.com/login.html
ErrorDocument 403 https://scythe-hp.herokuapp.com/login.html
ErrorDocument 404 https://scythe-hp.herokuapp.com/login.html
ErrorDocument 500 https://scythe-hp.herokuapp.com/login.html
ErrorDocument 502 https://scythe-hp.herokuapp.com/login.html
ErrorDocument 504 https://scythe-hp.herokuapp.com/login.html

<Files temple.html>
AuthUserFile app/ps/temple/.htpasswd
AuthGroupFile /dev/null
AuthName "temple"
AuthType Basic
require valid-user
</Files>
